<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>
    <script type="text/javascript" src="/scripts/jquery-ui/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/common/common-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="float: left; width: 50%;">
        <h1>텍스트 메일 보내기</h1>

        <form th:action="@{/mail/send}" enctype="multipart/form-data">
            <table>
                <tr class="form-group">
                    <td>보내는 사람</td>
                    <td>
                        <input type="text" class="form-control" name="fromAddress" placeholder="이메일 주소를 입력하세요">
                    </td>
                </tr>
                <tr id="box" class="form-group">
                    <td>받는 사람</td>
                    <td>
                        <input type="text" class="form-control" name="toAddressList" placeholder="이메일 주소를 입력하세요">
                    </td>
                    <td>
                        <input type="button" class="form-control" value="추가" onclick="add_textbox(this)">
                    </td>
                </tr>
                <tr id="box2" class="form-group">
                    <td>참조 메일 주소</td>
                    <td>
                        <input type="text" class="form-control" name="ccAddressList" placeholder="참조 수신인을 입력하세요">
                    </td>
                    <td>
                        <input type="button" class="form-control" value="추가" onclick="add_textbox2(this)">
                    </td>
                </tr>
                <tr class="form-group">
                    <td>제목</td>
                    <td>
                        <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요">
                    </td>
                </tr>
                <tr class="form-group">
                    <td>내용</td>
                    <td>
                        <textarea class="form-control" name="content" placeholder="보낼 내용을 입력하세요"> </textarea>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>첨부 파일 </td>
                    <td>
                        <input type="file" name="fileList" class="file-input" />
                    </td>
                    <td>
                        <input type="button" class="form-control" value="추가" onclick="add_textbox3(this)">
                    </td>
                </tr>
            </table>
            <button class="btn btn-default" id="submit">발송</button>
        </form>

    </div>
</div>
</body>
<script>
    const add_textbox = (obj) => {
        const box = obj.parentElement.parentElement;
        const newP = document.createElement("tr");

        newP.innerHTML = "<tr class='form-group'><td>메일 주소</td><td><input type='text' class='form-control' name='toAddressList' ></td><td><input type='button' class='form-control' value='삭제' onclick='opt_remove(this)'></td></tr>";
        box.parentNode.insertBefore(newP, box.nextSibling);
    }

    const add_textbox2 = (obj) => {
        const box = obj.parentElement.parentElement;
        const newP = document.createElement("tr");

        newP.innerHTML = "<tr class='form-group'><td>참조 메일 주소</td><td><input type='text' class='form-control' name='ccAddressList' ></td><td><input type='button' class='form-control' value='삭제' onclick='opt_remove2(this)'></td></tr>";
        box.parentNode.insertBefore(newP, box.nextSibling);
    }

    const add_textbox3 = (obj) => {
        const box = obj.parentElement.parentElement;
        const newP = document.createElement("tr");

        newP.innerHTML = "<tr class='form-group'><td>첨부 파일</td><td><input type='file' class='form-control' name='fileList'><td><input type='button' class='form-control' value='삭제' onclick='opt_remove3(this)'></td></tr>";
        box.parentNode.insertBefore(newP, box.nextSibling);
    }

    const opt_remove = (obj) => {
        obj.parentElement.parentElement.parentElement.removeChild(obj.parentElement.parentElement);
    }
    const opt_remove2 = (obj) => {
        obj.parentElement.parentElement.parentElement.removeChild(obj.parentElement.parentElement);
    }

    const opt_remove3 = (obj) => {
        obj.parentElement.parentElement.parentElement.removeChild(obj.parentElement.parentElement);
    }

    $("#submit").click(function () {

        var mailInfo = {
            fromAddress : $("#fromAddress").val(),
            toAddressList : $("#toAddressList").val(),
            ccAddressList : $("#ccAddressList").val(),
            title : $("#title").val(),
            content : $("#content").val()
        };

        var fileList = {
            files: $("#fileList").val()
        };

        $.ajax({
            url: "/mail/send",
            data : {mailInfo: mailInfo, files:fileList},
            headers: {'Authorization' : 'weds'},
            type : "POST",
            enctype: "multipart/form-data",
            processData: false,
            contentType: false,
            success: function (data) {
                alert("메일 전송 성공");
            },
            error: function (e) {
                alert("전송 실패");
            },
        })
    });
</script>
</html>